<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table th:object="${user}">
        <tr>
            <td>ユーザー名:</td>
            <td th:text="*{userName}"></td>
        </tr>
    </table>
    <div th:unless="${user != null}">
        ユーザー情報がありません。 <!-- これは既にありますが、上のテーブルの代わりに表示されます -->
    </div>
    <a href="/login">ログインはこちら</a>
    <a href="/registerUser">新規登録はこちら</a>
</body>

</html>